
body {
    background-color: black;
    height: 100%;
}
h1 {
    color: rgb(255, 255, 255);
    position: relative;
    
}
/* Todo strong ser dessa cor nao faz sentido */
strong {
    color: #00ffea;
}

/* Todo p ser relative, etc nao faz sentido */
p {
    color: rgb(255, 255, 255);
    position: relative;

}
/* Nao faz sentido img ser assim */
.img-my {
    width: 250px;
    height: fit-content;
}
.card-container {
    width: 1200px;
    margin-bottom: 1em;
}

.card-text {
    display: inline-block;
    width: 350px;
    height: 500px;
    margin: 5px;
    color: white;
}

.card-img {
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 5px;
    color: white;
}

.title-card {
    width: 300px;
}

.git-btn {
    color: #000000;
    font-family: Arial;
    position: relative;
    background-color: #00ffea;
    border-radius: 10px;
    border: 2px solid #ffffff;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}
.instagram-btn {
    color: #000000;
    font-family: Arial;
    position: relative;
    background-color: #00ffea;
    border-radius: 10px;
    border: 2px solid #ffffff;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}