
body {
    background-color: black;
}
h1 {
    color: rgb(255, 255, 255);
    position: relative;
    top: 160px; left: 520px;
    
}
strong {
    color: #00ffea;
}
p {
    color: rgb(255, 255, 255);
    position: relative;
    top: 160px; left: 520px;

}
img {
    position: fixed;
    top: 190px; left: 900px;
    width: 17%;
    size: 2px;
}
.git{
    color: #000000;
    font-family: Arial;
    position: relative;
    top: 210px; left: 550px;
    background-color: #00ffea;
    border-radius: 10px;
    border: 2px solid #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}
.instagram {
    color: #000000;
    font-family: Arial;
    position: relative;
    top: 210px; left: 525px;
    background-color: #00ffea;
    border-radius: 10px;
    border: 2px solid #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}