body {
  background-color: black;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-item {
  position: relative;
  border-radius: 5px;
}

.title-card {
  z-index: 1;
  color: #ffffff;
  font-size: 2rem;
  width: 21rem;
  overflow: hidden;
}
.other-colorstrong {
  color: aqua;
}
.wrap-box-auto {
  z-index: 1;
  color: #ffffff;
  font-size: 0.9rem;
  width: 19rem;
  overflow: hidden;
}
.instagram-btn {
  z-index: 1; /* Ajustado para que fique visível */
  background-color: aqua;
  border: none;
  color: #000000;
  border-radius: 10px;
  padding: 13px 38.2px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.git-btn {
  z-index: 1;
  background-color: aqua;
  border: none;
  color: #000000;
  border-radius: 10px;
  padding: 13px 54px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
